<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.cloud_note.dao.UserDao"><!-- 指的到底是那个接口 -->

    <!--id接口的方法名字 parameterType参数类型 resultType 返回值类型（就是指的UserDao接口中方法返回值类型（user））-->
    <select id="findByName" parameterType="String" resultType="cn.tedu.cloud_note.entity.User">
        <!-- 告诉mybatis如何去实现findByName方法 -->
        select * from cn_user where cn_user_name=#{name}
    </select>


    <select id="fin" resultType="cn.tedu.cloud_note.entity.User">
        select *
        from cn_user
    </select>

    <select id="findByName1" resultType="cn.tedu.cloud_note.entity.User">
        select *
        from cn_user
        where cn_user_name = #{name}
          and cn_user_password = #{password}
    </select>


    <insert id="save" parameterType="cn.tedu.cloud_note.entity.User">
        insert into cn_user(cn_user_id, cn_user_name, birthday, cn_user_password, cn_user_token, cn_user_nick)
        values (#{cn_user_id}, #{cn_user_name}, #{birthday}, #{cn_user_password}, #{cn_user_token}, #{cn_user_nick})
    </insert>

</mapper>



